<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset="utf-8">
    <title>Choose Word</title>
    <link rel="stylesheet" href="chooseWord.css">
    <script src ="chooseWord.js"> </script>
</head>

<body>
    <form class="box" action="chooseWord.html" method="POST">
        <h1>Input A 5 Letter Word</h1>
        <input type="text" name="" placeholder="Enter Username" id="username">
        <input type="submit" name="" value="Submit Word"  onclick="validate()">
    </form>
</body>
</html>