<!DOCTYPE html>
<html lang="en">
<head>
    <title>WordleVersus</title>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>WordleVersus</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Welcome to <b>WordleVersus</b></h3>
        </div>
        <div class="row">
            <p>Start by guessing a 5 letter word.</p>
            <p>This word should be a valid word.</p>
            <p>Letters will appear in different colours.</p>
            <p>Green letters appear in the word and are in the right position.</p>
            <p>Yellow letters appear in the word, but are in the wrong position.</p>
            <p>Grey letters don't appear in the word.</p>
            <p>Play alone or against friends.</p>
            <p>Multiplayer will allow you to see the board of your opponent, although their word guesses will be masked.</p>
            <p>The multiplayer mode will also allow one player to choose a word for the others to guess.</p>
        </div>  
    </div>
    <div class="container">
        <div class="row">
            <button id="startButton" type="button" class="btn btn-success">Start</button>
        </div>
    </div>
    <script type="module" src="/cdn/Script/homepage.js"></script>
</body>
</html>