<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="'viewport" content="width-device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/multiPlayerstyle.css">
    <link rel="stylesheet" href="/cdn/CSS/Keyboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="game-container">

        <div class="GameName-container">
            <h1>WordleVS</h1>
        </div>
        <div id="BoxGrid-container-Right">
        </div>
       <div class="BoxGrid-container-Left">

        </div>



    </div>


    <script type="module" src="/cdn/Script/multiPlayer.js"></script>
</body>
</html>