<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/cdn/CSS/registerAnderror.css">
</head>
<body>
    <div class="signup-box">
        <h1>Create WordleVS Account</h1>
        <br>
        <form action = '/api/register-user' method = 'post'>
            <label for="UserName">UserName</label>
             <input type="text" id="username" name="username" required>
             <label for="Email">Email</label>
             <input type="text" id="email" name="email" required>
             <label for="PassWord">Password</label>
             <input type="password" id="password" name="password" required>
             <button class="submit-button">Sign Up</button>
        </form>
        <p>By clicking the Sign Up button,you agree to our <br>
        <a href="#">Terms and Condition</a> and <a href="#">Policy And Privacy</a></p>
    </div>
    <p class="paragraph-2">Already have an account? <a href="login">Login </a></p>
</body>
<style>
    
</style>
</html>