<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="'viewport" content="width-device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/singleplayerstyle.css">
    <link rel="stylesheet" href="/cdn/CSS/Keyboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    

    <div class="game-container">
      <div class="GameName-container"> 
        <div class = "Log-out">
        <form action="/api/logout-user" method="post">
            <button class="logout_button" type="submit">Logout</button>  
        </form>
        
        </div>
            <h1>WordleVS</h1>
     </div>
        <div class="BoxGrid-container"> </div>
    </div>
    <script type="module" src="/cdn/Script/singleplayer.js"></script>
</body>
</html>