
/*
  Styling For SignUp Page
*/
body{
     background-color: rgb(13, 122, 13);
     font-family: 'Roboto', sans-serif;
}
.signup-box{
   width: 360px;
   height: 560px;
   margin: auto;
   background-color: white;
   border-radius: 3px;
}
.h1{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}
.h4{
   text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
   width: 100%;
   padding: 7px;
   border: none;
   border: 1px solid gray;
   border-radius: 6px;
   outline: none;
}

.submit-button{
    width: 320px;
   height: 35px;
   margin-top: 20px;
   border: none;
   background-color: green;
   color: white;
   font-size: 18px;
   text-align: center;
}

p{
   text-align: center;
   padding-top: 20px;
}
.paragraph-2{
   text-align: center;
   color: white;
   font-size: 15;
   margin-top: -10px;
}
.paragraph-2 a{
   color: #49c1a2;
}
h1{
   text-align: center;
   padding-top: 15px;
   font-size: 20px;
}
h4{
  text-align: center;
}

/*
   Styling For Error Page
*/

.message {
   flex: auto;
   justify-content: center;
   margin: 1rem;
}

.button-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 1rem;
}

.error-button {
   background-color: #49c1a2;
}

.error-message-container {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
}


.error-box {
   justify-content: center;
   margin: 1rem;
   background: white;
   box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
   border-radius: 12px;
   overflow: hidden;
   transition: all .2s linear
}

.error-message-header {  
   text-align: center;
   padding: 1.5rem 2.5rem;
   background-color: #49c1a2;
   margin: 0 0 2rem 0;
   font-size: 1.5rem;
   color: white;
}

