* {
   color: black;
   font-family:'Times New Roman', Times, serif;
}

body {
    background-color: rgb(216, 212, 212);
}
.Log-out{
    position:relative;
    margin-left:-85%;
    text-align: center
}
.logout_button{
    width: 20%;
    padding: 1rem 2rem;
    font-weight:lighter;
    font-size: 0.8rem;
    color:rgb(0, 0, 0);
    border:block;
    border-radius: var(--border-radius);
    outline: none;
    cursor:pointer;
    font-size: 13px;

}
.logout_button{
    position:relative;
    margin-left: -65px;
    width: 5%;
    padding: 1rem 2rem;
    font-weight:lighter;
    font-size: 0.8rem;
    color:rgb(0, 0, 0);
    border:block;
    border-radius: var(--border-radius);
    background-color: rgb(218, 212, 212);
    outline: none;
    cursor:pointer;
    font-size: 13px;

}
.logout_button:active{
    transform: scale(0.92); 
}
.game-container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.GameName-container{
    text-align: center;
    width: 100%;
    border-bottom: solid 1px #3a3a3c;
}
.BoxGrid-container{
    width: 295px;
    margin-bottom: 25%;
    margin-top: 5%
}

.BoxGrid-container div{
    display: flex;
}

.BoxGrid-container .box {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}



/*Adding colour*/
/*The ordder is important because if the letter is in the word then it will get
a yellow overlay. But if its also in the correct position it will
get a green overlay.*/
.greyColour {
    background-color: #3a3a3c !important; /*The background colour will overwrite anything set previously*/
    border:none !important; /*The border is removed so we just have the green block*/
}
.yellowColour {
    background-color: #b59f3a !important;
    border:none !important;
}

.greenColour {
    background-color: #538d4e !important;
    border:none !important;
}

/*Win or loose message*/
.message-container {
    height: 30px;
}

.message-container p {  /*Styled such that only p tags that are in the messsage container have this styling*/
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

/*Animation that will flip the tiles*/
.box.flip {
    animation: 0.5s linear flipping;
}
/*Essentially flipping them 90 deg and then back to give the illusion of fipping completely*/
@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}